/* ==========================================================================
   1. VARIABLES Y CONFIGURACIÓN BASE
   ========================================================================== */

// Paleta de Colores
$navy-dark:    #141f35;
//$navy-light:   lighten($navy-dark, 15%);
$brand-red:    #ca2418;
//$red-hover:    darken($brand-red, 10%);
$warning-gold: #e9b41a;
$bg-light:     #f4f6f9;
$white:        #ffffff;
$text-main:    #2b2b2b;
$text-muted:   #6c757d;

// Tipografía y Bordes
$font-family:  'Segoe UI', system-ui, -apple-system, sans-serif;
$border-rad:   12px;
$transition:   all 0.3s ease;

/* ==========================================================================
   2. MIXINS (Funciones reutilizables)
   ========================================================================== */

@mixin shadow-sm {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

@mixin shadow-md {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ==========================================================================
   3. ESTILOS GLOBALES
   ========================================================================== */

body {
    background-color: $bg-light;
    font-family: $font-family;
    color: $text-main;
    -webkit-font-smoothing: antialiased;
    height: 1000px;
    
    // Espacio extra al final para que la barra inferior móvil no tape el contenido
    @media (max-width: 1291px) {
        //padding-bottom: 80px; 
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $navy-dark;
    font-weight: 700;
}

/* ==========================================================================
   4. COMPONENTES DE NAVEGACIÓN
   ========================================================================== */

// Navbar Superior
.navbar{
    padding:  1rem 1rem 1rem 1.5rem;
    position: sticky;
    right: 0;
    top: 0px;
    background-color: $navy-dark;
    @include shadow-md;
    z-index: 2;

    .navbar-brand {
        color: $white;
        font-size: 1.25rem;
        letter-spacing: 0.5px;
        i { 
            color: $warning-gold; 
        }
    }

    .nav-link {
        //color: rgba($white, 0.8) !important;
        transition: $transition;
        
        &:hover, &.active {
            color: $warning-gold !important;
        }
    }
    .navbar-brand__title{
        text-transform: uppercase;
    }

    .profile-container{
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        width:120px;
        justify-content: flex-end;
        //En media quiery toc cambiar el justify content
        &__img{
            border-radius: 50%;
            border: 1px solid $white;
        }
    }
}

// Navbar Inferior (Mobile)
.footer{
    display: flex;
    flex-direction: row;
    background-color: red;
    border-top: 1px solid rgba(0,0,0,0.05);
    @include shadow-md;
    .footer-icons-container{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 auto;
        padding: 1rem 0;

    }
    .icon__index{
        color: $brand-red;
    }

    i {
        font-size: 1.5rem;
        margin-bottom: 2px;
        transition: transform 0.2s;        
    }
    .paragraph__icon {
         font-size: 0.75rem;
        font-weight: 500;
    }

        
}
.progress-container{
    &__title{
        color: $navy-dark;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    &__text{
        font-size: 1rem;
    }
    .bar-container{
        border: 1px solid red;

        &__percentage{
        color: #e9b41a;
    }

    }
    .progress{
        .progress-bar{
            background-color: #e9b41a;
        }
    }
}

.card-custom {
    background: $white;
    border: none;
    border-radius: $border-rad;
    @include shadow-sm;
    transition: $transition;
    overflow: hidden; // Para que los bordes de colores no se salgan
    // Efecto al tocar la card en celular
    &:active {
        //background-color: darken($white, 2%);
        transform: scale(0.98);
    }
    

    // Variantes de bordes para estados (Urgente, Preventivo, etc.)
    &.border-status-danger { border-left: 6px solid $brand-red; }
    &.border-status-warning { border-left: 6px solid $warning-gold; }
    &.border-status-navy { border-left: 6px solid $navy-dark; }
}

.progress-custom {
    height: 12px;
    border-radius: 6px;
    background-color: #e2e8f0;
    
    .progress-bar {
        background-color: $warning-gold;
        border-radius: 6px;
    }
}



/* ==========================================================================
   5. COMPONENTES DE INTERFAZ (CARDS Y BOTONES)
   ========================================================================== */

// Botón Principal
.btn-brand {
    background-color: $brand-red;
    color: $white;
    font-weight: 700;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: $transition;
    @include shadow-sm;
    
    &:hover, &:focus {
        //background-color: $red-hover;
        color: $white;
        transform: translateY(-2px);
        @include shadow-md;
    }

    &:active {
        transform: translateY(0); // Efecto de presionar
    }
}



// Cards específicas de KPI (Dashboard)
.kpi-card {
    text-align: center;
    padding: 1.5rem 1rem;

    .kpi-icon {
        font-size: 2.2rem;
        //color: $navy-light;
        margin-bottom: 0.5rem;
    }

    .kpi-number {
        font-size: 2rem;
        font-weight: 800;
        color: $navy-dark;
        line-height: 1;
        margin-bottom: 0.2rem;
    }

    .kpi-label {
        font-size: 0.85rem;
        color: $text-muted;
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: none;
        background-color: #ca2418;
    }
}

/* ==========================================================================
   6. FORMULARIOS INDUSTRIALES (Inputs, Switches, Accordion)
   ========================================================================== */

.form-industrial {
    
    // Inputs y Selects más grandes para dedos con guantes o sucios
    .form-control, .form-select {
        border: 2px solid #e2e8f0;
        border-radius: 8px;
        padding: 0.75rem 1rem;
        font-size: 1rem;
        transition: $transition;
        background-color: #fafbfc;

        &:focus {
            //border-color: $navy-light;
            box-shadow: 0 0 0 3px rgba($navy-dark, 0.1);
            background-color: $white;
        }
    }

    label {
        font-weight: 600;
        color: $navy-dark;
        margin-bottom: 0.4rem;
        font-size: 0.9rem;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }

    // Switches personalizados (Checkboxes tipo iOS)
    .form-switch {
        .form-check-input {
            width: 3rem;
            height: 1.5rem;
            cursor: pointer;
            
            &:checked {
                background-color: $navy-dark;
                border-color: $navy-dark;
            }
        }
        .form-check-label {
            margin-left: 0.5rem;
            padding-top: 0.2rem;
            cursor: pointer;
            text-transform: none; // Anulamos el uppercase aquí para mejor lectura
            font-size: 1rem;
        }
    }
}

// Acordeón de la Hoja de Trabajo
.accordion-industrial {
    .accordion-item {
        border: none;
        margin-bottom: 0.5rem;
        border-radius: $border-rad !important;
        @include shadow-sm;
        overflow: hidden;

        .accordion-button {
            background-color: $white;
            color: $navy-dark;
            font-weight: 700;
            padding: 1.2rem;
            
            &:not(.collapsed) {
                background-color: $navy-dark;
                color: $white;
                
                i { color: $warning-gold !important; }
                
                &::after {
                    filter: brightness(0) invert(1); // Hace la flechita blanca
                }
            }

            &:focus { box-shadow: none; }
        }

        .accordion-body {
            background-color: $bg-light;
            padding: 1.5rem;
        }
    }
}

/* ==========================================================================
   7. UTILIDADES ESPECÍFICAS
   ========================================================================== */



.badge-status {
    padding: 0.4em 0.8em;
    border-radius: 4px;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 0.75rem;
}