@use '../variables';
@use '../mixins';

.contact-card{
    @include mixins.display-flex(flex,row,left,center);
    text-align: left;
    margin-bottom: 2rem;
    border-bottom: 1px solid variables.$navy-dark;
}
.person-contact{
    @include mixins.display-flex(flex,row,space-between,center);
        max-width: 250px;
        margin-bottom: 1rem;
    }
.person-phone{
    margin-bottom: 0;
    .contact__phone{
        font-weight: bold;
        color: variables.$navy-dark;
    }

}
.forklift-data{
    margin-bottom: 2rem;
    height: 150px;
    padding: 2rem;
}
.client-report{
    margin-bottom: 2rem;
    border-radius: 15px;
    .alert-container{
        @include mixins.display-flex(flex,row,left,center);
        width: 100%;
        margin: 0;
        .alert-heading{
            font-size: 1.5rem;
        }

        i{
            height: 30px;
            margin-right: 1rem;
        }
        .bi-exclamation-triangle-fill::before{
                vertical-align: bottom;
            }
    }
}